version: '3.8'

services:
  publisher:
    image: mcr.microsoft.com/mssql/server:2022-latest # Use the official Microsoft SQL Server image
    container_name: publisher
    ports:
      - "1451:1433" # Map host port 1433 to container port 1433
    environment:
      SA_PASSWORD: "P@ssw0rd" # !! Change this to a strong password
      ACCEPT_EULA: "Y" # Required to accept the end-user license agreement
    volumes:
      - sqlserverdata:/var/opt/mssql # Persist data to a named volume

  subcriber:
    image: mcr.microsoft.com/mssql/server:2022-latest # Use the official Microsoft SQL Server image
    container_name: subcriber
    ports:
      - "1452:1433" # Map host port 1433 to container port 1433
    environment:
      SA_PASSWORD: "P@ssw0rd" # !! Change this to a strong password
      ACCEPT_EULA: "Y" # Required to accept the end-user license agreement
    volumes:
      - sqlserverdata:/var/opt/mssql # Persist data to a named volume
  
  distributor:
    image: mcr.microsoft.com/mssql/server:2022-latest # Use the official Microsoft SQL Server image
    container_name: distributor
    ports:
      - "1453:1433" # Map host port 1433 to container port 1433
    environment:
      SA_PASSWORD: "P@ssw0rd" # !! Change this to a strong password
      ACCEPT_EULA: "Y" # Required to accept the end-user license agreement
    volumes:
      - sqlserverdata:/var/opt/mssql # Persist data to a named volume

  networks:
    - replication