services:
  publisher:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: publisher
    ports:
      - "1451:1433"
    environment:
      SA_PASSWORD: "P@ssw0rd"
      ACCEPT_EULA: "Y"
      MSSQL_AGENT_ENABLED: "true"
    volumes:
      - publisher_data:/var/opt/mssql
    networks:
      - replication

  subscriber:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: subscriber
    ports:
      - "1452:1433"
    environment:
      SA_PASSWORD: "P@ssw0rd"
      ACCEPT_EULA: "Y"
      MSSQL_AGENT_ENABLED: "true"
    volumes:
      - subscriber_data:/var/opt/mssql
    networks:
      - replication

  distributor:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: distributor
    ports:
      - "1453:1433"
    environment:
      SA_PASSWORD: "P@ssw0rd"
      ACCEPT_EULA: "Y"
      MSSQL_AGENT_ENABLED: "true"
    volumes:
      - distributor_data:/var/opt/mssql
    networks:
      - replication

networks:
  replication:
    driver: bridge

volumes:
  publisher_data:
  subscriber_data:
  distributor_data: